<div class="card text-center border-primary" *ngFor="let mascota of mascotas">
	<div class="row no-gutters">
		<div class="col-md-4">
		<img [src]="mascota.foto" class="card-img-top" alt="...">
		</div>
		<div class="col-md-8">
		<div class="card-body">
				<h5 class="card-title">{{mascota.nombre}}</h5>
				<small class="text-muted">{{mascota._id}}</small>
				<p class="card-text">{{mascota.descripcion}}</p>
		</div>
			<a [routerLink]="['detalles',mascota._id]" class="btn btn-outline-success">Detalle</a>
			<a (click)="borrar(mascota._id)" class="btn btn-outline-danger">Eliminar</a>
			<a (click)="comprar(mascota)" class="btn btn-outline-info">Comprar</a>
		</div>
	</div>
</div>