<nav style="z-index :10;" class="navbar navbar-expand-lg navbar-light bg-light my-lg-0">
	<a class="navbar-brand" href="#">Mascotas</a>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
		<a class="nav-item nav-link active" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
		<a class="nav-item nav-link active" [routerLink]="['detalles']">Detail <span class="sr-only">(current)</span></a>
		<a class="nav-item nav-link active" [routerLink]="['registros']">Registro<span class="sr-only">(current)</span></a>
		<div *ngIf="!logout">
			<a class="nav-item nav-link active" [routerLink]="['login_registro']">Registro/Login<span class="sr-only">(current)</span></a>
		</div>
		<div *ngIf="logout" >
			<button (click)="borrarLocalStorage()" class="btn btn-outline-warning">Cerrar Sesion</button>
		</div>
			<button [routerLink]="['carrito']" class="btn btn-outline-info">Carrito</button>
	  </div>
	</div>
  </nav>
