

	<form [formGroup]="checkoutForm" (ngSubmit)="addMascota(checkoutForm.value)">
		<div class="form-group">
			<label for="">Nombre Mascota</label>
			<input type="text" formControlName="nombre" name="nombre" class="form-control" id="" placeholder="Nombre mascota">
		</div>
		<div class="form-group">
			<label for="">Descripcion Mascota</label>
			<input type="text" formControlName="descripcion" name="descripcion" class="form-control" id="" placeholder="Descripcion">
		</div>
		<div class="form-group">
			<label for="">Ruta</label>
			<input type="text" formControlName="foto" name="foto" class="form-control" id="" placeholder="Ruta">
		</div>
		<div class="form-group">
			<label for="">Precio</label>
			<input type="number" formControlName="precio" name="precio" class="form-control" id="" placeholder="Precio">
		</div>
		<button type="submit" class="btn btn-outline-primary">Agregar</button>
	</form>

<app-modal>[modal]="triggerModal()"</app-modal>



