
<div class="col-md-6">
	<form [formGroup]="checkoutForm" (ngSubmit)="addMascota(checkoutForm.value)">
		<div class="form-group">
			<label for="">Nombre Mascota</label>
			<input type="text" formControlName="mascota"class="form-control" id="" placeholder="Nombre mascota">
		</div>
		<div class="form-group">
			<label for="">Descripcion Mascota</label>
			<input type="text" formControlName="descripcion" class="form-control" id="" placeholder="Descripcion">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" name="button" class="btn btn-info" (click)="triggerModal">Actualizar</button>
	</form>
</div>

<app-modal>[modal]="triggerModal()"</app-modal>



